{% extends 'base.html.twig' %}

{% block title %}Administration des catégories{% endblock %}

{% block body %}
    <div class="main-panel">

    {{ block('navbar', 'navbar.html.twig')}}
        <div class="content">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Nombre de recettes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><span class="badge badge-primary">{{ category.id }}</span></td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.recipes | length }}</td>
                            <td>
                                
                                <a href="{{ path('category_edit', {'id': category.id }) }}" class="btn btn-primary"><i class="fas fa-user-edit"></i></a> 
                            
                                <a href="{{ path('category_delete', {'id': category.id }) }}" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
