{% extends 'base.html.twig' %}

{% block title %}Administration des recettes{% endblock %}

{% block body %}
<div class="main-panel">

{{ block('navbar', 'navbar.html.twig')}}
    <div class="content">

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Titre</td>
            <td>Description</td>
            <td>Posteur</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
            <tr>
                <td><span class="badge badge-primary">{{ recipe.id }}</span></td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.description|slice(0, 40)|raw }}... </td>
                <td>{{ recipe.owner.firstName }} {{ recipe.owner.lastName }}</td>
                <td>
                <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-info ml-1">
                    <i class="far fa-eye"></i>
                </a>
                <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-primary ml-1">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{{ path('recipe_delete', {'id': recipe.id}) }}" class="btn btn-danger ml-1">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
