{% extends "base.html.twig" %}
{% block title %}
    Recette
{% endblock %}
{% block body %}
<div class="main-panel">

{{ block('navbar', 'navbar.html.twig')}}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                <h1>Titre: {{ recipe.title }}</h1>
                    <p><span class="badge badge-primary">Préparation: {{ recipe.preparationTime }} min.</span> | <span class="badge badge-warning">Cuisson: {{ recipe.cookingTime }} min</span> </p>
                    {% if recipe.illustration %}
                        <img src="{{ recipe.illustration }}" alt="{{ recipe.title }}">
                    {% endif %}
                    <div>
                        <h4>Description:</h4> 
                        {{ recipe.description }}
                    </div>
                    <div>
                        <h4>Ingrédients:</h4>
                        {{ recipe.ingredients | raw}}
                    </div>
                    <div>
                        <h4>Ustensiles:</h4>
                        {{ recipe.utensils | raw }}
                    </div>
                    <div>
                        <h4>Etapes:</h4>
                        {{ recipe.content | raw }}
                    </div>

                    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-primary">
                    Editer</a>
                    <a href="{{ path('recipe_delete', {'id': recipe.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}