<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
            <!-- Nucleo Icons -->
            <link href="{{ asset('../assets/css/nucleo-icons.css')}}" rel="stylesheet" />
            <link href="{{ asset('../assets/css/black-dashboard.css')}}" rel="stylesheet" />
            
            {# <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css"> #}
        {% endblock %}
    </head>
    <body class="white-content">
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% if app.user %}
            <div class="sidebar">
                <div class="sidebar-wrapper">
                    <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">
                        <i class="tim-icons icon-shape-star"></i>
                    </a>
                    <a href="http://localhost:4200" target="_blank" class="simple-text logo-normal">
                        My Cookbook
                    </a>
                    </div>
                    <ul class="nav">
                    <li>
                        <a href="{{ path('admin_dashboard') }}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('recipe_index') }}">
                        <i class="tim-icons icon-book-bookmark"></i>
                        <p>Recettes</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('recipe_create') }}">
                            <i class="tim-icons icon-simple-add"></i>
                            <p>Nouvelle recette</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('category_index')}}">
                        <i class="tim-icons icon-tag"></i>
                        <p>Catégories</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('category_create') }}">
                            <i class="tim-icons icon-simple-add"></i>
                            <p>Nouvelle catégorie</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_index')}}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Utilisateurs</p>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/ca393c0718.js" crossorigin="anonymous"></script>
            <script src="{{ asset('../assets/js/core/jquery.min.js')}}"></script>
            <script src="{{ asset('../assets/js/core/popper.min.js')}}"></script>
            <script src="{{ asset('../assets/js/core/bootstrap.min.js')}}"></script>
            <script src="{{ asset('../assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
            <script src="{{ asset('../assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
            <script src="{{ asset('../assets/js/black-dashboard.min.js?v=1.0.0')}}"></script>
            <script src="{{ asset('../assets/js/plugins/chartjs.min.js')}}"></script>
            
        {% endblock %}
    </body>
</html>
