{% extends 'base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
<div class="main-panel">

{{ block('navbar', 'navbar.html.twig')}}
    <div class="content">
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse email</th>
                <th>Recettes</th>
                <th>Photo</th>
                <th>Rôle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><span class="badge badge-primary">{{ user.id }}</span></td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.recipes | length }}</td>
                    <td><img src="{{ user.photo }}" alt="{{ user.firstName }} {{ user.lastName }}" width="100px" ></td>
                    <td>{{ user.roles |join(', ') }}</td>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id })}}" class="btn btn-primary">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a href="{{ path('user_delete', {'id': user.id }) }}" class="btn btn-danger">
                            <i class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
